{{define "main"}}
<div
  class="relative w-screen h-screen sm:flex sm:justify-center sm:items-center"
>
  <a
    href="https://github.com/juho05/stine-ical-formatter"
    class="absolute right-2 top-2 link"
    >Source Code</a
  >
  <a
    href="https://github.com/juho05/stine-ical-formatter/issues"
    class="absolute left-2 top-2 link"
    >Report Bug</a
  >
  <p class="absolute left-2 bottom-2 text-sm">
    &copy; 2024-2025 Julian Hofmann
  </p>
  <a
    href="https://github.com/juho05/stine-ical-formatter/blob/main/LICENSE"
    class="absolute right-2 bottom-2 link"
    >License</a
  >
  <div
    class="sm:card sm:bg-base-200 sm:h-auto sm:w-[680px] sm:min-w-[512px] h-screen"
  >
    <div class="sm:card-body p-4 sm:pt-6 pt-16 h-full overflow-auto">
      <h1 class="text-center font-bold text-2xl mb-6">STiNE iCal Formatter</h1>
      <details
        tabindex="0"
        class="collapse collapse-arrow bg-base-100 border border-secondary mb-2"
      >
        <summary class="collapse-title text-l font-medium">
          {{call .Translate "how-to"}}
        </summary>
        <div class="collapse-content">
          <ol class="list-decimal pl-6">
            <li>{{call .Translate "how-to.1"}}</li>
            <li>{{call .Translate "how-to.2"}}</li>
            <li>{{call .Translate "how-to.3"}}</li>
            <li>{{call .Translate "how-to.4"}}</li>
            <li>{{call .Translate "how-to.5"}}</li>
            <li>{{call .Translate "how-to.6"}}</li>
            <li>{{call .Translate "how-to.7"}}</li>
            <li>{{call .Translate "how-to.8"}}</li>
            <li>{{call .Translate "how-to.9"}}</li>
          </ol>
          <p class="mt-2">
            <b>{{call .Translate "how-to.warning"}}</b>
          </p>
        </div>
      </details>
      <details
        tabindex="0"
        class="collapse collapse-arrow bg-base-100 border border-accent mb-2"
      >
        <summary class="collapse-title text-l font-medium">
          {{call .Translate "what-does-it-do"}}
        </summary>
        <div class="collapse-content">
          <p>{{call .Translate "what-does-it-do.preamble"}}</p>
          <p class="mt-2">
            <span class="font-bold"
              >{{call .Translate "what-does-it-do.list-title"}}</span
            >
          </p>
          <ol class="list-decimal pl-6">
            <li>{{call .Translate "what-does-it-do.1"}}</li>
            <li>{{call .Translate "what-does-it-do.2"}}</li>
            <li>{{call .Translate "what-does-it-do.3"}}</li>
            <li>{{call .Translate "what-does-it-do.4"}}</li>
            <li>{{call .Translate "what-does-it-do.5"}}</li>
            <li>{{call .Translate "what-does-it-do.6"}}</li>
          </ol>
          <p class="mt-2">
            <i>{{call .Translate "what-does-it-do.more-info"}}</i>
          </p>
        </div>
      </details>
      <form
        action="/"
        method="post"
        class="flex flex-col gap-3 grow"
        enctype="multipart/form-data"
      >
        <label class="form-control w-full">
          <div class="label">
            <div class="label-text font-medium">
              {{call .Translate "select-files"}}
            </div>
          </div>
          <input
            type="file"
            name="files"
            class="file-input file-input-bordered w-full"
            multiple
            required
          />
        </label>
        {{if ne .ErrorMessageKey ""}}
        <p class="text-error">ERROR: {{call .Translate .ErrorMessageKey}}</p>
        {{end}}
        <div class="flex justify-center sm:mt-24 mt-16">
          <button class="btn btn-primary">
            {{call .Translate "format-files"}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}
